<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head xmlns="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>

<style type="text/css">

    /* -------------------------------------
        CSS TO BE LEFT IN THE HEADER
        FOR CLIENTS THAT SUPPORT IT
    ------------------------------------- */

    a:hover,
    a:hover span {
        color: #1188d2!important;
    }

    .button-cta:hover {
        color: #ffffff!important;
        background-color: #1188d2!important;
    }

    .button-cta:hover span {
        color: #ffffff!important;
    }



    /* -------------------------------------
        CLIENT-SPECIFIC HACKS
    ------------------------------------- */

    /*  OUTLOOK
        - Override Outlook's embedded padding issue
        - Fix Outlook's full-width background issue
    */

    #outlook a {
        padding: 0;
    }
    body {
        width: 100% !important;
    }
    .ReadMsgBody {
        width: 100%;
    }
    .ExternalClass {
        width: 100%;
        display:block !important;
    }


    /* -------------------------------------
        PHONE-SIZED DEVICES
    ------------------------------------- */

    @media only screen and (max-device-width: 480px) {
        html {
                -webkit-text-size-adjust: 100%;
            }
            .content {
                width: 100%;
            }
            table {
                border-collapse: collapse;
            }
            h2.headline {
                font-weight: 700;
                font-size: 20px!important;
                margin-bottom: 5px;
            }
            .button-cta {
                display: block!important;
                padding: 0!important;
            }
            div.header {
                padding-top: 20px;
            }
            div.footer {
                padding-bottom: 20px;
            }
        }
    }

</style>
</head>
<body bgcolor="#FFFFFF" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100%; height: 100%; margin: 0; padding: 0; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif">



<table class="body-wrap" style="border-collapse: collapse; width: 100%">
<tbody><tr style="border-collapse: collapse">

<td class="container" style="border-collapse: collapse; color: #353a3d; font-size: 14px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; display: block; max-width: 640px; margin: 0 auto; clear: both">
<img src="http://juggler.services.disqus.com/event.gif?impression=53d4fb66-c7e7-11e2-8f60-0025900e00e4&amp;type=welcome.verify&amp;event=email&amp;behavior=open" alt="" width="1" height="1" style="height: auto; outline: none; text-decoration: none; display: block; max-width: 100%">
<!-- content -->
<div class="content marketing-content" style="padding-left: 10px; padding-right: 10px; max-width: 640px; margin: 0 auto; display: block">
<table style="border-collapse: collapse; width: 100%">
<tbody><tr style="border-collapse: collapse">
<td style="border-collapse: collapse; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0; margin-bottom: 5px">
	<br><br>
<p style="margin-bottom: 5px; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0">안녕하십니까. <strong>${auth.mname}</strong> 님</p>
<p style="margin-bottom: 5px; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0"><strong>wePLAYfootball.fm</strong> 을 이용해 주셔서 감사합니다. <br/>아래 버튼을 클릭하시면, 암호를 변경하실 수 있습니다.</p>
<br>
</td>
</tr>
<tr style="border-collapse: collapse">
<td class="divider-2px" style="border-collapse: collapse; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; padding-top: 30px; padding-bottom: 30px; margin-top: 0; margin-bottom: 5px">
<hr style="border: none; height: 2px; overflow: hidden; background: #e4e9ec; margin: 0">
</td>
</tr>
<tr style="border-collapse: collapse">
<td style="border-collapse: collapse; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0; margin-bottom: 5px">
<div class="marketing-cta" style="text-align: center; padding-top: 10px; padding-left: 10%; padding-bottom: 10px; padding-right: 10%">
<p style="margin-bottom: 5px; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0"><a href="http://localhost:8080/signin/password?email=${auth.memail}&auth=${auth.mauthcd}" class="button-cta" style="color: #fff; text-decoration: none; font-weight: 700; background-color: #4bb3f4; font-size: 18px; padding-top: 8px; padding-left: 16px; padding-bottom: 8px; padding-right: 16px; border-radius: 3px; margin-left: auto; margin-right: auto"><span style="color: #fff; font-weight: normal;">비밀번호 변경하기</span></a></p>
</div>
</td>
</tr>
<tr style="border-collapse: collapse">
<td class="divider-2px" style="border-collapse: collapse; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; padding-top: 30px; padding-bottom: 30px; margin-top: 0; margin-bottom: 5px">
<hr style="border: none; height: 2px; overflow: hidden; background: #e4e9ec; margin: 0">
</td>
</tr>
<tr style="border-collapse: collapse">
<td style="border-collapse: collapse; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0; margin-bottom: 5px">
<p style="margin-bottom: 5px; color: #353a3d; font-size: 16px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0; font-size: 80%;">
                    또는, 웹브라우져에 아래 링크를 붙여넣어 실행하세요.<br>
                    http://localhost:8080/signin/password?email=${auth.memail}&auth=${auth.mauthcd}

</p>
<br>
<p style="margin-bottom: 5px; color: #353a3d; font-size: 12px; font-weight: 400; word-wrap: break-word; line-height: 1.4; font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif; margin-top: 0">Thanks,<br>
                The nineToFive Dev team</p>
</td>
</tr>
</tbody></table>
</div><!-- /content -->
</td>

</tr>
</tbody></table>

</body></html>