<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fm.weplayfootball.persistence.mapper.ClubInfoMapper">

  <cache />

  <select id="getCsno" resultType="int">
	 SELECT csno_seq.nextval csno FROM DUAL
  </select>

  <select id="getByCname" parameterType="String" resultType="ClubInfo">
	 SELECT CSNO
	      , CNAME
	      , CLOCAL
	      , CTIME
	      , CIP
	      , CMAKER
	      , CMAKERNAME
	      , IMAGE
	      , COUNT
	      , DESCRIPTION
	   FROM CLUB_INFO
	  WHERE CNAME = #{cname}
  	</select>

  <select id="getByCsno" parameterType="int" resultType="ClubInfo">
	 SELECT CSNO
	      , CNAME
	      , CLOCAL
	      , CTIME
	      , CIP
	      , CMAKER
	      , CMAKERNAME
	      , IMAGE
	      , COUNT
	      , DESCRIPTION
	   FROM CLUB_INFO
	  WHERE CSNO = #{csno}
  	</select>
   
   
  <select id="listClubInfo" parameterType="SearchCondition" resultType="ClubInfoList">
  select *
	from (
	        select rownum as rn, a.*
	        from (
	          select CI.csno, 
	                 CI.cname, 
	                 CI.clocal, 
	                 CI.image,
	                 NVL(CR.month,0), 
	                 NVL(CR.year,0), 
	                 NVL(CR.total,0),
	                 (
	                 	select count(*) as cnt 
	                 	  from clubmember 
	                 	 where cmLevel != 'ZA' 
	                 	   and cmLevel != 'XA' 
	                 	   and cmLevel != 'QA' 
	                 	   and cmcsno = CI.csno
	                 ) members,
	                 CI.description
	            from club_info CI
	               , club_rank CR
	           where CI.csno = CR.csno(+)
	           
				<if test="srchType == 'cname'">
	             and CI.cname = #{srchValue}
	            </if>
	            
	            <if test="srchType == 'clocal'">
	             and CI.clocal = #{srchValue}
	            </if>
	            
          	   	order by 
          	   	<choose>
				  <when test="sortName == 'clocal'">
				    CI.clocal
				  </when>
				  <when test="sortName == 'total'">
				    CR.total DESC
				  </when>
				  <when test="sortName == 'cname'">
				    CI.cname
				  </when>
				  <otherwise>
				    CI.cname
				  </otherwise>
				</choose>
	            ) a
	    )
	where rownum  &lt;= #{pageSize}
	    and rn &gt; (#{pageNum}-1)*#{pageSize}
  </select>
   
  <select id="listMyClubInfo" parameterType="SearchCondition" resultType="ClubInfoList">
  select *
	from (
	        select rownum as rn, a.*
	        from (
	          select CI.csno, 
	                 CI.cname, 
	                 CI.clocal, 
	                 CI.image,
	                 CR.month, 
	                 CR.year, 
	                 CR.total,
	                 (
	                 	select count(*) as cnt 
	                 	  from clubmember 
	                 	 where cmLevel != 'ZA' 
	                 	   and cmLevel != 'XA' 
	                 	   and cmLevel != 'QA' 
	                 	   and cmcsno = CI.csno
	                 ) members,
	                 CI.description
	            from club_info CI
	               , club_rank CR
	               , (
	                 	select count(*) as cnt 
	                 	  from clubmember 
	                 	 where cmLevel != 'ZA' 
	                 	   and cmLevel != 'XA' 
	                 	   and cmLevel != 'QA' 
	                 	   and cmcsno = CI.csno
	                 ) members
	           where CI.csno = CR.csno
	           
				<if test="srchType == 'cname'">
	             and CI.cname = #{srchValue}
	            </if>
	            
	            <if test="srchType == 'clocal'">
	             and CI.clocal = #{srchValue}
	            </if>
	            
          	   	order by 
          	   	<choose>
				  <when test="sortName == 'clocal'">
				    CI.clocal
				  </when>
				  <when test="sortName == 'total'">
				    CR.total
				  </when>
				  <otherwise>
				    CI.clocal
				  </otherwise>
				</choose>
	            ) a
	    )
	where rownum  &lt;= #{pageSize}
	    and rn &gt; (#{pageNum}-1)*#{pageSize}
  </select>
  
  <insert id="insert" parameterType="ClubInfo">
	insert into club_info(
		csno	,cname	,clocal,
		ctime	,cip	,cmaker,
		cmakername, description, image
	) values (
		csno_seq.nextval	,#{cname,jdbcType=VARCHAR}	,#{clocal,jdbcType=VARCHAR},
		to_char(sysdate, 'yyyymmddhh24miss')	,#{cip,jdbcType=VARCHAR} ,#{cmaker,jdbcType=NUMERIC},
		#{cmakername,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}
	)
  </insert>

</mapper>