<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fm.weplayfootball.persistence.mapper.MemberAuthCdMapper">

  <cache />
  
  <select id="read" parameterType="string" resultType="MemberAuthCd">
	select * from memberauthcd where memail = #{memail} and mauthcd = #{mauthcd}
  </select>

  <insert id="insert" parameterType="MemberAuthCd">
    INSERT INTO memberauthcd
      (	 mname, memail, mauthcd, created, updated )
    values
      (	#{mname}, #{memail}, #{mauthcd}, SYSDATE )
  </insert>

  <insert id="update" parameterType="MemberAuthCd">
    UPDATE memberauthcd SET 
      mname = #{mname}, mauthcd = #{mauthcd}, update = SYSDATE
	WHERE memail = #{memail}
  </insert>

</mapper>