<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fm.weplayfootball.persistence.mapper.MemberMapper">

  <cache />

  
  
  <select id="read" parameterType="string" resultType="Member">
	select * from member where memail =  #{memail}
  </select>
  <select id="readsno" parameterType="string" resultType="Member">
	select * from member where msno =  #{msno}
  </select>

  <insert id="insert" parameterType="Member">
    INSERT INTO FM_MEMBER
      (	msno 	, mname 	, memail, 
      	mpasswd , muid 		, mtel 	,
      	mlevel	, mimage	, mimagesize ,
      	mip 	, mposition	, mlocal, 
      	mintro	, mpasswd
      )
    values
      (	msno_seq.nextval			, #{mname} 						, #{memail},
      	#{mpasswd,jdbcType=VARCHAR} , #{muid,jdbcType=VARCHAR} 		, #{mtel,jdbcType=VARCHAR},
      	#{mlevel,jdbcType=CHAR}		, #{mimage,jdbcType=VARCHAR}	, #{mimagesize,jdbcType=NUMBER} ,
      	#{mip,jdbcType=VARCHAR} 	, #{mposition,jdbcType=VARCHAR}	, #{mlocal,jdbcType=VARCHAR}, 
      	#{mintro,jdbcType=VARCHAR}	, #{mpasswd}
      )
  </insert>

</mapper>