<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fm.weplayfootball.persistence.mapper.MemberAuthCdMapper">

  <cache />
  
  <select id="read" parameterType="string" resultType="MemberAuthCd">
	select * from memberauthcd where memail = #{memail} and mauthcd = #{mauthcd} and type = #{type}
  </select>

  <insert id="insert" parameterType="MemberAuthCd">
    INSERT INTO memberauthcd
      (	 mname, memail, type, mauthcd, created )
    values
      (	#{mname}, #{memail}, #{type}, #{mauthcd}, SYSDATE )
  </insert>

  <update id="update" parameterType="MemberAuthCd">
    UPDATE memberauthcd SET 
           mname = #{mname}, mauthcd = #{mauthcd}, updated = SYSDATE
	 WHERE memail 	= #{memail}
	   AND type 		= #{type}
  </update>

  <delete id="delete" parameterType="string">
    DELETE FROM memberauthcd 
  	 WHERE memail 	= #{memail}
	   AND type 	= #{type}
  </delete>

</mapper>